<!DOCTYPE html>
<html lang="fr">
{% include 'partials/head.html.twig' %}
<body>
{% include 'partials/header.html.twig' %}
{% block body %}{% endblock %}
{% include 'partials/script.html.twig' %}
{% block javascripts %}
{% endblock %}
</body>
{% include 'partials/footer.html.twig' %}
</html>
